bash/bash_history
bash/rc.private/*
configstore
htop
less/less_history
inkscape
tmux/tmux.digests
vim/pack/remote/opt/*
vim/tmp/backup/*
vim/tmp/netrw/*
vim/tmp/swap/*
vim/tmp/undo/*
vim/viminfo
zsh/zsh_history
zsh/.zcompdump
zsh/rc.private/*
