akregatorrc
angular/
bash/rc.private
breezerc
configstore
dconf/
dlv/
drkonqirc
emaildefaults
fontconfig/
fontforge/
gh/hosts.yml
git/config
gpick/
gtk-2.0/
gtk-3.0/
gtkrc
gtkrc-2.0
htop/
inkscape/
iterm2/
kactivitymanagerdrc
karabiner/automatic_backups/
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kdeglobals
kfontinstuirc
kglobalshortcutsrc
kmixrc
konsolerc
kscreenlockerrc
ksmserverrc
ksplashrc
Kvantum/
kwinrc
kwinrulesrc
kwriterc
lazygit/state.yml
libfm/
lnav/
nitrogen/
npm/
nvim/lua/remote/lazy-lock.json
nvim/settings.json
okularpartrc
okularrc
pavucontrol.ini
pcmanfm/
pg/*
!pg/psqlrc
!pg/psqlrc-win
pgcli/*
!pgcli/config
pip/
plasmarc
pulse/
pypoetry/auth.toml
QtProject.conf
scoop/
systemsettingsrc
tmux/tmux.digests
Trolltech.conf
user-dirs*
vifm/vifminfo.json
vim/remote/
wget/
wireshark/
zsh/.zcompcache
zsh/.zcompdump
zsh/.zsh-evalcache/
zsh/rc.private/
