bash/bash_history
bash/private.bash
configstore
htop
less/less_history
inkscape
tmux/tmux.digests
vim/plugged/*
vim/plugin/private/*
!vim/plugin/private/.keep
vim/tmp/backup/*
!vim/tmp/backup/.keep
vim/tmp/netrw/*
!vim/tmp/netrw/.keep
vim/tmp/swap/*
!vim/tmp/swap/.keep
vim/tmp/undo/*
!vim/tmp/undo/.keep
vim/viminfo
zsh/zsh_history
zsh/.zcompdump
zsh/rc.private/*
!zsh/rc.private.keep
