confirmOnQuit: false
disableStartupPopups: false
notARepository: "prompt"
promptToReturnFromSubprocess: true
quitOnTopLevelReturn: false
git:
  autoFetch: true
  autoRefresh: true
  disableForcePushing: false
  overrideGpg: true
  skipHookPrefix: WIP
  commit:
    signOff: false
  log:
    order: topo-order
    showGraph: when-maximised
    showWholeGraph: false
  merging:
    args: ""
    manualCommit: false
  pagers:
    - pager: delta --dark --paging=never --line-numbers --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
      colorArg: always
gui:
  border: "rounded"
  enlargedSideViewLocation: 'top'
  language: "en"
  mouseEvents: true
  nerdFontsVersion: "3"
  scrollHeight: 2
  scrollPastBottom: true
  showBottomLine: false
  showCommandLog: true
  skipDiscardChangeWarning: false
  skipStashWarning: true
  authorColors:
    "Demaro Stanberry": "#89b8c4"
    "*": cyan
  branchColorPatterns:
    "feat/.+": "#d08770"
    "feature/.+": "#d08770"
    "fix/.+": "#9d6066"
  branchColors:
    "main": "#76627a"
    "master": "#76627a"
    "develop": "#6c7086"
  commitLength:
    show: true
  theme:
    defaultFgColor:
      - default
    activeBorderColor:
      - blue
      - bold
    inactiveBorderColor:
      - "#59595e"
    optionsTextColor:
      - blue
    selectedLineBgColor:
      - "#48525e"
    unstagedChangesColor:
      - red
    cherryPickedCommitBgColor:
      - default
    cherryPickedCommitFgColor:
      - magenta
customCommands:
  - key: "d"
    command: "git diff {{.SelectedFile.Name}}"
    description: "Open diff"
    context: "global"
    output: terminal
keybinding:
  universal:
    createRebaseOptionsMenu: "X"
    remove: "x"
    scrollDownMain: "<c-d>"
    scrollUpMain: "<c-f>"
  files:
    toggleTreeView: "-"
os:
  edit: "nvim --server $NVIM --remote-tab {{filename}}"
